body{
    background-color: rgb(20, 20, 20);
}

.top{
    margin: auto;
    width: 60%;
    text-align: center;
}
.top h3{
    font-size: 35px;
    color: white;
}

.feed-div{
    margin: auto;
    margin-top: 80px;
    width: 97%;
    padding: 10px;
    word-break: break-all;
    /* text-align: center; */
    /* background-color: rgb(17, 17, 17); */
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.feed-div p{
    word-wrap: break-word;
    word-spacing: 1px;
    padding: 5px;
}
.feed-div h3{
    font-size: 19px;
}