{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LC Feed</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="top">
        <h3>LC FEED</h3>
    </div>
    <div class="feed-div" >
{% if feeds %}
{% for feed in feeds %}

        <h3>{{feed.title}}</h3>
        <p>{{ feed.description }}</p>
        <span><i>{{feed.date}}</i></span>  <span><a href={{feed.url}}>visit site</a></span><br/><br/>

{% endfor %}
{% else %}
<div>
    <h3>No Feeds to Display</h3>
</div>
{% endif %}
</div>
</body>
</html>
{% endblock %}